{% extends "base.html" %}

{% block content %}
  <div class="row">
  <div class="col-lg-6" style="float: none; margin: 20px auto;">
  {% from "macros.html" import render_field %}
  <form method="POST" action="." class="form bs-example form-horizontal">
    {{ form.csrf_token }}
    <input type="hidden" name="next" value="{{ next }}" />
    {{ render_field(form.username, class="form-control", placeholder="Имя", autofocus="") }}
    <br>
    {{ render_field(form.email, class="form-control", placeholder="Email") }}
    <br>
    {{ render_field(form.password, class="form-control", placeholder="Пароль") }}
    <br>
    {{ render_field(form.confirm, class="form-control", placeholder="Подтверждение пароля") }}
    <br>
    Прочитать условия <a href="">предоставления услуг</a> 
        {{ render_field(form.accept_tos, class="form-control") }}
    <label>Капча</label>
    {{ form.recaptcha }}
    <br>
    <button type="submit" value="Register" class="btn btn-primary">Зарегистрироваться</button>
  </form>
  </div>
  </div>
{% endblock %}
